# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
*.pyc
*.pyo

# Node
frontend/node_modules/
frontend/dist/

# Environment
frontend/.env

# Keys
backend/keys/server_private.pem
backend/keys/server_public.pem


# commands
/vendor/updLib.md